@use 'hero';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
    list-style: none;
    letter-spacing: 0.03em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.overlay {
    position: fixed;
    background-image: url(../images/background.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;

    @media screen and (max-width: 767px) {
        background-position: center;
        opacity: .4;
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}
